<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Rating</title>
</head>
<body>
    <h1>Edit Book Rating</h1>
    <P>Book Name: {{book}}</P>
    <p>Current Rating: {{rating}}</p>
    <form method="POST">
        <input type="text" name="new-rating"><button type="submit" value="submit" onclick="{{url_for('home')}}">Click Me</button>
    </form>
</body>
</html>